body {
  background-color: #FFFFEE;
}

#intro {
  text-align: center;
}

#intro-text {
  text-align: center;
  padding-bottom: 20px;
}

#game-grid{
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}
.restart {
  text-align: center;
  padding-top: 30px;
}
/* Here is the win/tie text style */
.winner {
  padding-top: 100px;
}

.winner p {
  text-align: center;
  font-family: Arial;
  font-size: 40px;
}
/* kudos to http://www.bestcssbuttongenerator.com/ for the restart button */
.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
